ul.picture-footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px #ccf dashed;
  padding-top: 4px;
  margin-bottom: 15px;
  text-align: right;
  font-size: 75%;
}

ul.picture-footer li {
  display: inline;
}

ul.picture-footer li:not(:last-child):after {
  color: #444;
  content: " | ";
  margin: 0 2px;
}

